*{
    margin: 0;
    padding: 0;
}

.banner img{
    width: 100%;
}

header {
    width: 100%;
    background-color: rgb(9, 15, 15);
    position: fixed;
}

header h1 {
    font-size: 40px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff7300;
    text-shadow: 0px 0px 9px #508ad3;
}

header h1{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out ;
}
    @keyframes slidein{

        from {
            margin-left: 0%;
            margin-right: 40%;
            color: white;

          }

          to {
            margin-left: 40%;
            margin-right: 0%;

          }
    }

.botonera {
    display: flex;
    justify-content: space-evenly;
}

.post-header {
    background-color: darkslategray;
}

aside img {
    width: 100%;
}

.index:hover {
    transform: scale(0.9);
}


/* APLICAMOS ESTILOS PARA PRODUCTOS */

.footer-prod h6 {
    font-size: 20px;
}

.prod-header {
    grid-area: header;
}

.aside-prod {
    grid-area: aside;
}

.banner-productos {
    grid-area: banner;
}

.footer-prod {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff7300;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.week {
    grid-area: week;
}


.padre {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto 100px;
    grid-template-areas:
    "header header"
    "aside aside"
    "banner week"
    "banner week"
    "footer footer" ;
}

.imgA:hover {
    transition: all 1s;
    transform: scale(1.1);
}

.imgB:hover {
    transition: all 1s;
    transform: scale(1.1);
}


/* APLICAMOS ESTILOS PARA AYUDA */

/* Le damos forma al header */
header {
    width: 100%;
    background-color: rgb(9, 15, 15);
    position: fixed;
}

header h1{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out ;
}
    @keyframes slidein{

        from {
            margin-left: 0%;
            margin-right: 40%;
            color: white;

          }

          to {
            margin-left: 40%;
            margin-right: 0%;

          }
    }

    header h1 {
        font-size: 40px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        color: #ff7300;
        text-shadow: 0px 0px 9px #508ad3;
    }   

    .section-ayuda h2 {
       padding: 10px;
       margin: 10px;
    }

    .p-ayuda {
        padding: 20px;
        text-decoration: solid;
        color: rgb(36, 7, 33);
    }

    .lista-ayuda {
        font-style: italic;
        font-weight: bolder;
    }

    .footer-ayuda {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff7300;
        background-color: black;
        font-family: Arial, Helvetica, sans-serif; 
    }


    /* AGREGAMOS ESTILOS A RENDIMIENTOS */

    .fondo-rendimiento {
        background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    }

    .htres {
        font-size: 30px;
        text-shadow: 
    3px 3px 1px rgb(238, 237, 237),
    5px 5px 2px rgb(196, 196, 167),
    8px 8px 3px rgb(93, 93, 193);
    ;
    }


