.footer-prod {
    display: flex;
    border: 20px solid black;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: #ff7300;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif; 
}

