* {
    margin: 0;
    padding: 0;
}


.section-ayuda {

    h2 {
        padding: 10px;
       margin: 10px;
    }
    .lista-ayuda {
        font-style: italic;
        font-weight: bolder;
    }
    .p-ayuda {
        padding: 20px;
        text-decoration: solid;
        color: black;
    }

}